.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%; /* Hace que el contenedor sea un círculo */
    background-color: rgba(0, 128, 0, 0.2); /* Fondo con color */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra del círculo */
}

.arrow-container:hover {
    background-color: rgba(0, 128, 0, 0.4); /* Fondo más oscuro al pasar el ratón */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
}

.left-arrow,
.right-arrow {
    width: 50px;
    height: 50px;
    transition: 0.5s;
    box-shadow: -2px 2px 0 0 rgb(205, 224, 205);
}

.left-arrow {
    transform: rotate(45deg);
}

.right-arrow {
    transform: rotate(225deg);
}

.left-arrow:hover,
.right-arrow:hover {
    box-shadow: -2px 2px 0 0 rgba(205, 224, 205);
}


.is-playing-button,
.re-start-button {
  appearance: button;
  backface-visibility: hidden;
  
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.is-playing-button,
.re-start-button {
  cursor: default;
}

.is-playing-button {
  background-color: #405cf5;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.re-start-button {
  background-color: #043b16;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}